<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541015592379-eunbd7bvupqmd9j3927fu7j702kh1hr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541015592379-eunbd7bvupqmd9j3927fu7j702kh1hr4</string>
	<key>API_KEY</key>
	<string>AIzaSyAzX9SWaH72XzGlHJLnp2ymxzTTIjb83gg</string>
	<key>GCM_SENDER_ID</key>
	<string>541015592379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jean.Twitter-MVVM</string>
	<key>PROJECT_ID</key>
	<string>twitter-mvvm</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-mvvm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541015592379:ios:a572c0ae9cad5ecb30089e</string>
</dict>
</plist>